html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high */
  font-family:"Roboto Mono", monospace;
}
h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
/* Set the entire page background to sky blue */
html {
  background-color: #87CEEB; /* Sky Blue */
  color: white;
}

/* Set the main content box background to Chelsea Blue */
body {
  width: 600px;
  margin: 0 auto;
  background-color: #034694; /* Chelsea Blue */
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

/* Make headings more readable */
h1 {
  margin: 0;
  padding: 20px 0;
  color: #FFFFFF; /* White text for contrast */
  text-shadow: 3px 3px 1px black;
}

/* Change link hover color */
a:hover {
  color: lightblue;
}

/* Center images */
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
